body {
  display: flex;
  color: #555;
  font-family: 'Average Sans', sans-serif;
  background-color: #1e1d1f;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  background-color: #222;
  border: 1px solid #eee;
}

.key {
  opacity: 0.3;
  background: #d3cfcc;
  border-color: #ece8e4 #dedad6 #c9c4c4;
  width: 40px;
  height: 45px;
  margin: 2px;
  border-width: 3px 7px 10px;
  border-style: solid;
  border-radius: 4px;
  float: left;
  animation: keyIn 1s;
  &.pressed {
    opacity: 0.6;
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}

@keyframes keyIn {
  0% {oapcity: 0}
  50% {opacity: 1}
  100% {opacity: 0.3}
}

.game-container {
  position: relative;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.keys {
  position: absolute;
  top: 5px;
  left: 5px;
  animation: keysIn 1s;
}

@keyframes keysIn {
  0% {opacity: 0; transform: translate(200px, 200px)}
  50% {opacity: 1; transform: scale(1.2) translate(150px, 150px)}
  100% {}
}

.keycap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 45px;
  font-size: 18px;
  line-height: 1;
  background: #f5f3f1;
  background: -webkit-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -moz-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -ms-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -o-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border-radius: 4px;
  position: relative;
}

.arrow-down {
  span {
    transform: rotate(90deg);
  }
}

.arrow-left {
  span {
    transform: rotate(180deg);
  }
}

.arrow-up {
  span {
    transform: rotate(270deg);
  }
}

